//this is a configuration file for the program
//parameter:
//filename={"xxxx"};
//style={"key-value"};
//row_number=integer;
//column_number=integer;
//"//"is comment line;
// if row_number = 0, the program will read all lines of the file;
//any sentences behind configuration lines is error;
//column_number must be more than 0;
//blank line will be ignored;



filename={"data.txt"};  
style={"key-value"};
row_number=0;
column_number=4;
